<h1 class= "text-center">Liste des Mangas mis en location</h1>
<div class = "">
  <div class = "d-flex flex-wrap justify-content-center">
    <% @mangas.each do |manga| %>
      <div class= "col-2 m-2 p-2 g-5 bg-light">
        <h4 class= "text-center"><%= manga.title%></h4>
        <%= image_tag("berserk.jpg", height: '320', width: '100%xauto') %>
        <p><%= link_to "Voir la Fiche", manga_path(manga), class: "btn btn-primary float-end"%></p>
      </div>
    <% end %>
  </div>
</div>
<div class = "mx-auto p-5 text-center bg-light w-50">
<h2>Tu souhaites mettre en location un manga ?</h2>
<%= link_to "Clique ici", new_manga_path, class: "btn btn-primary float-center"%>
</div>
