body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.mes-annonces{
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

.gestion-section, .gerer-section {
  width: 70%;
  margin: 0 center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 15px;
}

.annonce-details {
  display: none;
  display: flex;
}

.annonce-details img {
  max-width: 200px;
  margin-right: 20px;
}

.description {
  flex-grow: 1;
}

.actions button {
  margin-right: 10px;
  padding: 8px 15px;
  cursor: pointer;
}

/* Ajoutez plus de styles selon vos préférences */
