    <div class= "mes-annonces">
    <h1>Mes Annonces</h1></div>
    <div class="container">
      <h1></h1>
        <section class="gestion-section">
            <h2></h2>
            <div class="annonce-details">
                <img src="https://m.media-amazon.com/images/I/81wdIzgWCjL._SL1500_.jpg" alt="Annonce Image">
                <div class="description">
                    <p>Naruto</p>
                    <p>Prix: 15€</p>
                    <p>Date de publication: 24/11/2023</p>
              <div class="actions">
                <button class="modifier-btn">Modifier</button>
                <button class="supprimer-btn">Supprimer</button>
            </div>
                </div>
            </div>
        </section>