<div class="container pb-5">
<h1 class="text-center mb-4">Conditions Générales de Location</h1>

<section>
  <h2>1. Objet</h2>
  <p>Le Propriétaire met à disposition du Locataire des mangas sélectionnés pour une durée déterminée et convenue entre les parties.</p>
</section>

<section>
  <h2>2. Description des Mangas</h2>
  <p>Le Propriétaire s'engage à fournir une liste détaillée des mangas disponibles à la location, indiquant leur état, titre, numéro d'édition le cas échéant, et toute information pertinente.</p>
</section>

<section>
  <h2>3. Durée de la Location</h2>
  <p>La durée de la location est spécifiée au moment de la réservation. Toute prolongation de la durée de location doit faire l'objet d'un accord écrit entre le Propriétaire et le Locataire.</p>
</section>

<section>
  <h2>4. Responsabilités du Locataire</h2>
  <p>Le Locataire s'engage à prendre soin des mangas loués et à les retourner dans le même état que lors de la réception, à l'exception de l'usure normale due à une utilisation raisonnable.</p>
</section>

<section>
  <h2>5. Paiement</h2>
  <p>Le montant total de la location est convenu entre le Propriétaire et le Locataire avant le début de la location. Les modalités de paiement, y compris les frais de dépôt de garantie éventuels, sont également définies à ce moment-là.</p>
</section>

<section>
  <h2>6. Annulation et Remboursement</h2>
  <p>Toute annulation de la location doit être notifiée au moins deux jours avant la date prévue de la location pour bénéficier d'un remboursement partiel ou intégral, selon les termes convenus lors de la réservation.</p>
</section>

<section>
  <h2>7. Réclamation</h2>
  <p>En cas de litige concernant l'état des mangas loués ou tout autre problème lié à la location, le Locataire s'engage à contacter immédiatement le Propriétaire pour résoudre le différend de manière amiable.</p>
</section>

<section>
  <h2>8. Modification des Conditions</h2>
  <p>Toute modification ou addition à ces conditions générales doit faire l'objet d'un accord écrit entre le Propriétaire et le Locataire.</p>
</section>

<section>
  <h2>9. Loi applicable</h2>
  <p>Ces conditions générales sont régies par la loi en vigueur dans le pays concerné et tout litige découlant de ces conditions sera soumis à la juridiction compétente du tribunal local.</p>
</section>

</div>
