<div class="container pb-5">

  <h1 class="text-center mb-4">Politique de Confidentialité</h1>

  <div class="policy-section">
    <h2>Collecte d'Informations</h2>
    <p>Lorsque vous utilisez notre site, nous pouvons collecter les informations suivantes :</p>
    <ul>
      <li>Informations d'identification personnelles telles que nom, adresse e-mail, adresse postale, numéro de téléphone, etc.</li>
      <li>Informations de paiement pour les transactions de location.</li>
      <li>Données démographiques telles que votre code postal, préférences et intérêts.</li>
      <li>Données relatives à l'utilisation du site, y compris les pages visitées, le type de navigateur, l'adresse IP, et d'autres données analytiques.</li>
    </ul>
  </div>

  <div class="policy-section">
    <h2>Utilisation des Informations</h2>
    <p>Les informations que nous collectons sont utilisées pour :</p>
    <ul>
      <li>Faciliter le processus de location des mangas.</li>
      <li>Améliorer notre site et personnaliser l'expérience utilisateur.</li>
      <li>Vous envoyer des communications relatives à votre compte, aux promotions, aux nouveautés et aux offres spéciales.</li>
      <li>Analyser les tendances d'utilisation et améliorer nos services.</li>
    </ul>
  </div>

  <div class="policy-section">
    <h2>Protection des Informations</h2>
    <p>Nous nous engageons à protéger vos informations personnelles. Des mesures de sécurité appropriées sont mises en place pour empêcher tout accès non autorisé, divulgation, altération ou destruction de vos données.</p>
  </div>

  <div class="policy-section">
    <h2>Partage d'Informations</h2>
    <p>Nous ne vendons, n'échangeons ni ne louons vos informations personnelles à des tiers sans votre consentement, sauf pour les partenaires impliqués dans la fourniture des services de location de mangas, sous réserve d'accords de confidentialité.</p>
  </div>

  <div class="policy-section">
    <h2>Cookies</h2>
    <p>Notre site peut utiliser des cookies pour améliorer l'expérience de navigation. Vous pouvez choisir de refuser les cookies, mais cela peut limiter certaines fonctionnalités du site.</p>
  </div>

  <div class="policy-section">
    <h2>Liens vers des Sites Tiers</h2>
    <p>Notre site peut contenir des liens vers d'autres sites. Nous ne sommes pas responsables des pratiques de confidentialité de ces sites tiers et vous encourageons à consulter leurs politiques de confidentialité.</p>
  </div>

  <div class="policy-section">
    <h2>Modification de la Politique de Confidentialité</h2>
    <p>Nous nous réservons le droit de modifier cette Politique de Confidentialité à tout moment. Les changements seront publiés sur cette page et vous seront notifiés par e-mail ou via des annonces sur notre site.</p>
  </div>

  <div class="policy-section">
    <h2>Consentement</h2>
    <p>En utilisant notre site, vous consentez à notre Politique de Confidentialité.</p>
  </div>

</div>
