<header>
    <h2 id= "logo">RentMyManga</h2>

    <div id="search-bar">
      <input id="search-input" type="text" placeholder="Recherche...">
      <%= image_tag('image_360.png', id: "search-icon") %>
    </div>

    <div id="user-section">
      <img class="user-photo" src="user-photo.jpg" alt="User Photo"> <!-- Remplace avec la photo de l'utilisateur -->
      <span>Connecté en tant que Utilisateur</span>
    </div>
  </header>
