<div class="container">

  <h1 class="text-center mb-4">FAQ - Foire aux Questions</h1>

  <div class="faq-section">
    <h2>Comment fonctionne le processus de location de mangas sur votre site ?</h2>
    <p>Le processus de location est simple. Vous devez d'abord vous inscrire sur notre site, rechercher les mangas disponibles, sélectionner celui que vous souhaitez louer, effectuer le paiement en ligne et convenir d'un lieu de remise en main propre ou du moyen de livraison avec le propriétaire. Consultez notre guide d'utilisation pour plus de détails.</p>
  </div>

  <div class="faq-section">
    <h2>Quels sont les moyens de paiement acceptés ?</h2>
    <p>Nous acceptons les paiements en ligne via les principales cartes de crédit et d'autres méthodes de paiement sécurisées. Assurez-vous de consulter nos options de paiement lors du processus de location.</p>
  </div>

  <div class="faq-section">
    <h2>Que se passe-t-il en cas de dommage ou de perte d'un manga loué ?</h2>
    <p>Les utilisateurs sont responsables de prendre soin des mangas loués. En cas de dommage ou de perte, des frais peuvent s'appliquer. Nous vous recommandons de lire attentivement nos conditions générales de location pour plus d'informations sur la responsabilité des utilisateurs.</p>
  </div>

  <div class="faq-section">
    <h2>Comment puis-je annuler ma réservation ?</h2>
    <p>Vous pouvez annuler votre réservation en accédant à votre compte et en suivant les instructions d'annulation. Veuillez noter que des frais d'annulation peuvent s'appliquer en fonction du moment de l'annulation par rapport à la date de location prévue.</p>
  </div>

  <div class="faq-section">
    <h2>Comment puis-je contacter le service client en cas de problème ?</h2>
    <p>Vous pouvez nous contacter en nous envoyant un e-mail à no-reply@rentmymanga.com. Nous ferons de notre mieux pour répondre à vos préoccupations dans les plus brefs délais.</p>
  </div>

</div>
