<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentMyManga</title>
</head>

<body>
<div class="main-container">
    <% @mangas.each do |manga| %>
     <%= link_to manga_path(manga) do %>
      <div class="manga-card">
        <%# <%= cl_image_tag '35018304aa8a5a62957ad5a14bbc4620'   height: 300, width: 400, crop: :fill %>
        <h2><%= manga.title %></h2>
      </div>
      <% end %>
    <% end %>
    <%= link_to "Tu trouve pas ton bonheur ?", mangas_path, class:"manga-card" %>
  </div>
</body>
</html>
