<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentMyManga</title>
</head>

<header>
  <%= render "shared/navbar" %>
</header>

<body>
<div class="main-container">
    <% @mangas.each do |manga| %>
      <div class="manga-card">
        <%# <%= cl_image_tag '35018304aa8a5a62957ad5a14bbc4620'   height: 300, width: 400, crop: :fill %>
        <h2><%= manga.title %></h2>
      </div>
    <% end %>
  </div>
</body>

<footer>
<span>RentMyManga</span>
  <span class="footer">
    <a href="#">Faq</a> |
    <a href="#">Le Blog</a> |
    <a href="#">Conditions générales de location</a> |
    <a href="#">Politique et confidentialité</a> |
    <a href="#">Nos mentions légales</a> |
    <a href="#">
 </span>
</footer>
</html>
