<div class="container">

  <h1 class="text-center mb-4">Mentions Légales</h1>

  <div class="legal-section">
    <h2>Éditeur du Site</h2>
    <p>Raison sociale : RentMyManga</p>
    <p>Siège social : 20 RUE MARIUS AUFAN, 92300 LEVALLOIS-PERRET</p>
    <p>Téléphone : 06 08 90 9x xx</p>
    <p>E-mail : no-reply@rentmymanga.com</p>
    <p>Responsable de la publication : Mr. Iqbal Bashir</p>
  </div>

  <div class="legal-section">
    <h2>Hébergement</h2>
    <p>Le site est hébergé par : Moi</p>
    <p>Adresse : Chez moi</p>
  </div>

  <div class="legal-section">
    <h2>Propriété Intellectuelle</h2>
    <p>Tous les contenus présents sur le site, tels que les textes, images, logos, sont la propriété exclusive de RentMyManga ou de leurs détenteurs respectifs et sont protégés par les lois relatives à la propriété intellectuelle.</p>
    <p>Toute reproduction, représentation, modification, diffusion ou exploitation de ces contenus est strictement interdite sans autorisation préalable.</p>
  </div>

  <div class="legal-section">
    <h2>Responsabilité</h2>
    <p>Malgré tout le soin apporté à la réalisation et à la mise à jour du site, RentMyManga décline toute responsabilité concernant les éventuelles erreurs ou omissions dans les informations diffusées, l'impossibilité d'accéder au site, ou tout dommage résultant de l'utilisation du site, qu'il soit direct ou indirect.</p>
  </div>

  <div class="legal-section">
    <h2>Loi Applicable</h2>
    <p>Ce site et ses conditions d'utilisation sont régis par la loi en vigueur en France. Tout litige découlant de l'utilisation du site sera soumis à la compétence exclusive des tribunaux d'Evry.</p>
  </div>

</div>
