<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Réservations de Manga</title>
</head>
<body>
    <header>
        <h1>Liste de Réservations de Manga</h1>
    </header>
    <section id="reservations">
        <article class="reservation">
        <img src="" alt="Image du manga">
            <h2>Naruto</h2>
            <p>Auteur: Masashi Kishimoto</p>
            <p>Date de réservation: 24/11/2023</p>
            <button>Annuler la réservation</button>
        </article>
        <!-- Ajoutez d'autres réservations ici -->
    </section>
</body>
</html>
