<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ma Page</title>
</head>
<body>

  <div id="header-container">
    <div id="profile-section">
      <img id="profile-picture" src="	https://www.logiquetechno.com/wp-content/uploads/2020/11/retirer-photo-de-profil-facebook.png" alt="Photo de profil">
      <div>
        <span></span>
        <a href="#" class="profile-link">Accéder à mon profil</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="box">
      <p class="box-text">Annonces</p>
      <p class="box-text">Gérer mes annonces déposées</p>
    </div>

    <div class="box">
      <p class="box-text">Réservations</p>
      <p class="box-text">Retrouver vos réservations de mangas</p>
    </div>

    <div class="box">
      <p class="box-text">Transactions</p>
      <p class="box-text">Suivre mes opérations</p>
    </div>

    <div class="box">
      <p class="box-text">Paramètres</p>
      <p class="box-text">Compléter et modifier mes informations</p>
    </div>

    <div id="logout-box">
      <p class="box-text">Déconnexion</p>
    </div>
  </div>

</body>
</html>
